body{
    background-color: coral;
    font-family: "Roboto", sans-serif;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    background-color: burlywood;
    border: solid 2px wheat;
    border-radius: 5px;
    flex-wrap: wrap;
    .container__title{
        margin-top: 10px;
        font-size: 32px;
    }
    .container__form{
        margin-top: 20px;
        display: flex;
        align-items: center; 
        gap: 10px;

        .form__inputText{
            padding: 10px 40px;
            line-height: 1;
            border: 1px solid #ccc;
            outline: none;
            box-sizing: border-box;
            font-size: 20px;
            border-radius: 10px;
            &:focus{
                border: 2px solid rgb(0, 0, 0);
            }
        }
        .form__getWeather{
            border-radius: 10px;
            padding: 5px;
            width: 60px;
            line-height: 1;
            border: 1px solid #ccc;
            outline: none;
            box-sizing: border-box;
            font-size: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            &:hover{
                cursor: pointer;
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
            }
            &:active{
                transform: translate(2px, 3px);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
            }
        }

        @media (max-width: 700px){
            &{
                flex-direction: column;
                
            }
                .form__getWeather{
                    width: 300px;
                    height: 45px;
                    font-size: 22px;
                }
            
            
        }
    }
    .container__result{
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }

    


    @media(max-width: 400px){
        .container__title{
            font-size: 25px;
        }
        .form__inputText{
            max-width: 250px;
        }

    }
}


